@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

/********* ESTILO GENERAL *********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/********* HEADER *********/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181619;
  padding: 0 50px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgb(71, 69, 69);
}

.logo {
  width: 70px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.navbar-list li a {
  font-size: 1.2rem;
  color: white;
}

.navbar-list li a:hover {
  color: #e5383b;
  transition: 300ms all;
}

.menu-contact {
  display: none;
}

.menu-label {
  color: #ffffff;
  font-size: 36px;
  display: none;
}

#toggle-menu {
  display: none;
}

.button-contact {
  color: white;
  border: none;
  background-color: #ba181b;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 20px;
  cursor: pointer;
}

.button-contact:hover {
  background-color: #ee1418e7;
  transition: 200ms all;
}

/********* BODY *********/

#principal-area {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b090a;
}

.hero-area {
  width: 90%;
  min-height: 750px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tittle-area {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.tittle-area h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

.tittle-area p {
  text-align: justify;
  color: #ffffff;
}

.tittle-area h1 span {
  color: #ba181b;
  font-weight: 900;
}

.hero-area img {
  width: 40%;
}

/************ INFO AREA  ************/

#info-area {
  width: 100%;
  min-height: 40vh;
  background: #1d2225;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-text {
  width: 90%;
  text-align: justify;
  color: #ffffff;
  padding: 1rem 0 1rem 0;
}

/********* PROX AREA *********/

#product-area {
  width: 100%;
  min-height: 100vh;
  background: #0b090a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

#product-area h2 {
  font-size: 2.5rem;
  color: #ffffff;
  padding-bottom: 5rem;
}

#product-area img {
  width: 90%;
  object-fit: cover;
  overflow: hidden;
  padding: 1rem;
}

.content-product {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.product-card {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 1rem;
  border: 1px solid #ffffff;
}

.cards-info {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ffffff;
  gap: 1rem;
  background: #1d2225;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content-cards {
  width: 100%;
  background: #1d2225;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.button-product {
  width: 180px;
  height: 45px;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 10px solid #ffffff;
}

/************ FOOTER AREA**************/

footer {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-footer {
  width: 100%;
  background-color: #181619;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.social-links ul {
  display: flex;
  gap: 1rem;
}

.social-links  i {
  font-size: 1.8rem;
  color: #ffffff;
}

.social-links .fa-whatsapp:hover {
  color: rgb(23, 184, 23);
  transition: 300ms all;
}

.social-links .fa-instagram:hover {
  color: rgb(228, 92, 92);
  transition: 300ms all;
}

.social-links .fa-facebook:hover {
  color: rgb(111, 111, 226);
  transition: 300ms all;
}

.contact-info {
  color: #ffffff;
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
}

.copy {
  background: #0e0d0e;
  height: 3.5vh;
  width: 100%;
  color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
