@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

/********* ESTILO GENERAL *********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/********* HEADER *********/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181619;
  padding: 0 50px;
  position: fixed;
}

.logo {
  width: 70px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.nav ul li a {
  font-size: 1.2rem;
  color: white;
}

.nav ul li a:hover {
  color: #e5383b;
  transition: 300ms all;
}

.button-contact {
  color: white;
  background-color: #ba181b;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 20px;
  cursor: pointer;
}

.button-contact:hover {
  background-color: #ee1418e7;
  transition: 200ms all;
}

/********* HEADER *********/

body {
  background: #d3d3d3;
}

#principal-area {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#principal-area p {
  font-size: 3.5rem;
}
